.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 3rem);
}

.newGameSection {
  height: 5rem;
}

.newGameButton {
  background: #1D95EC;
  border: 0;
  border-radius: 5px;
  padding: 1rem;
}

.loading {
  cursor: progress;
  opacity: .5;
  pointer-events: none;
}
