.container {
    background: #1D95EC;
    box-shadow: 0 4px 8px #ccc;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    position: absolute;
    top: 0;
    padding-left: 1rem;
    width: 100%;
}

.profile {
    display: flex;
    align-items: center;
}

.profilePic {
    border-radius: 1rem;
    max-height: 2rem;
    max-width: 2rem;
}

.login {

}

.logout {
    background: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    max-height: 2rem;
    max-width: 2rem;
}
.logout:hover {
  background: #fff;
}

.displayName {
  border: 1px solid #fff;
  border-radius: 5px;
  display: flex;
  margin: 0 .5rem;
  overflow: hidden;
}

.leftContents {
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn {
    align-items: center;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 5px;
    padding: 5px 10px 5px 5px;
}
.activeBtn, .btn:hover, .btn:active {
    background: #6e00b7;
    color: #fff
}

.btnText {
    cursor: pointer;
    margin-left: 5px;
    text-decoration: underline;
}
@media (max-width: 600px) {
    .displayName,
    .btnText {
        display: none;
    }
    .btn {padding: 2px; margin: 2px}
}