.container {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.wordRow {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    list-style: none;
    margin: 1rem 2rem;
}

.displayName {
    font-size: 24px;
    min-width: 6rem;
    max-width: 10rem;
    text-overflow: ellipsis;
    overflow: hidden;
}
h1.displayName {
    font-size: 24px;
    max-width: 80%;
    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.percent {
    margin-right: 1rem;
    min-width: 6rem;
}

.quickStats {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.quickStatsText {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.backButton {
  border-color: #333;
  color: #333;
  float: left;
  margin-left: 1rem;
}

.profileInfo {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-right: 1rem;
}