.container {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

.wordRow {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: center;
    list-style: none;
    margin: 1rem 2rem;
}

.word {
    cursor: pointer;
    font-size: 24px;
    min-width: 6rem;
}

.percent {
    margin-right: 1rem;
    min-width: 6rem;
}
