.container {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem 0;
    width: 100%;
    max-width: 100%;
}

.wordRow {
    align-items: end;
    display: flex;
    list-style: none;
    height: 3rem;
    margin: 2px 2rem;
}

.word {
    font-size: 24px;
    min-width: 6rem;
}

.percent {
    margin-right: 1rem;
    min-width: 6rem;
}

.distributions {
    align-items: end;
    display: flex;
    flex-direction: row;
    height: 100%;
}

.distributionPercent {
    align-items: end;
    background: green;
    color: #efefef;
    display: flex;
    justify-content: center;
    margin: 0 1px;
    width: 2rem;
}